[Desktop Entry]
Type=Application
Version=1.0
Name=Install GamerX OS
GenericName=System Installer
Comment=Install GamerX OS to your hard drive
Icon=calamares
Exec=sudo -E calamares
Categories=Qt;System;
Terminal=false
StartupNotify=true
Keywords=installer;system;install;
